# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# firebasetoken
1//09xJU1AltoTegCgYIARAAGAkSNwF-L9IrWQIKIYC5K9cXEyRhJ7frrs619UdExL9z01VibvhO3kuw0g7s3rEGuB79u6-1lElK3bE